<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Thomas Guégan</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
</head>

<header class="w3-container">
    <div class="w3-container w3-half profile">    
        <a href="/"><img class="w3-image w3-hover-opacity" src="{{ get_url(path="logo.png") }}"/></a>
    </div>
    <div class="w3-container w3-half">  
        <h1>Thomas Guégan</h1>
        <h3>alias Barbiche</h3>
        <p>Développeur généraliste, et passionné de jeux vidéo, de moteur de jeu et de rendu graphique.</p>
        <p>... mais aussi de low-techs, de boulanger / pâtisserie, de musique électronique et d'alternatives soutenables!</p>
    </div>
</header>

<body>
    <section class="w3-container">
        <div class="w3-container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>